{% extends "base.html" %}

{% block title %}تغییر رمز موفق{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="card shadow p-5">
            <div class="card-body">
                <div style="font-size: 60px;">✅</div>
                <h2 class="fw-bold text-success mt-3">رمز عبور تغییر کرد!</h2>
                <p class="text-muted mt-3">
                    رمز عبور شما با موفقیت بروزرسانی شد. از این پس با رمز جدید وارد شوید.
                </p>
                
                <hr>
                
                <a href="{% url 'courses:course_list' %}" class="btn btn-primary px-5 mt-3">
                    بازگشت به داشبورد
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
