# Python stuff
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
db.sqlite3

# Media files (فایل‌های آپلود شده توسط کاربر نباید بره روی گیت)
media/

# Static files collected
staticfiles/

# OS specific files
.DS_Store
Thumbs.db